<div class='container-fluid'>
  <div class="photo-container">
    <%= image_tag('waldo.jpg', class: 'img-responsive') %>
  </div>
  <div class='names hidden'>
    <div class='names-list'>
      <ul class="list-content">
        <li>Waldo</li>
        <li>Wenda</li>
        <li>Odlaw</li>
        <li>Wizard Whitebeard</li>
        <li>Woof</li>
      </ul>
    </div>
  </div>
  <div class='tag hidden'></div>
</div>