/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.photo-container {
  border: 1px solid black;
  position: relative;
}

.tag {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 5px solid black;
}

.tag-name {
  position: absolute;
}

.hidden {
  display: none;
}

.names-list {
  pointer-events: all;
  background-color: white;
  width: 100px;
  height: auto;
  top: 50px;
  left: -25px;
  position: absolute;
  font-size: 10px;
  list-style: none;
  padding: 0 5px;
}

.list-content {
  display: inline;
}